@import "tailwindcss";

:root {
  --background: #0E1117;
  --foreground: #ededed;
  --success: #00E676;
  --alert: #FF3D00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-success: var(--success);
  --color-alert: var(--alert);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  @apply selection:bg-[#00E676] selection:text-black;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 230, 118, 0.2);
}
